.message-button button {
    background-color: transparent;
    color: black;
    border: 1px solid gray;
    margin-bottom: 10px;
    width: 100%;
    padding: 4px 14px 7px 9px;
    border-radius: 5px;
}

.close-button {
    display: flex;
    justify-content: center;
}

.close-button button {
    width: 50%;
    background: gray;
    color: #fff;
    border: solid 1px
}